# Ignorar dependencias y binarios
node_modules/
dist/
out/
build/

# Ignorar ejecutables y binarios grandes
*.exe
*.dll
*.so
*.dmg
*.pkg
*.zip

# Archivos de logs y cachés
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
tmp/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# .env y configuración privada
.env
.env.local
.env.development
.env.production

# Archivos temporales de editores
.vscode/
.idea/
*.swp
